<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--1定义一个jdbc数据源，创建一个驱动管理数据源的bean -->
    <bean id="jdbcDataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/mybatis" />
        <property name="username" value="root" />
        <property name="password" value="1995" />
    </bean>

    <!--2创建一个sql会话工厂bean，指定数据源,导入的数据来自myBatisConfiguration.xml-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="jdbcDataSource" /><!-- 指定数据源 -->
        <property name="configLocation" value="mybatisConfiguration.xml"></property> <!-- 指定配置文件 -->
    </bean>

    <!--3生成了Mapper接口的实现类的实例-->
    <!--<bean id="userBean" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
        <!--&lt;!&ndash;指定映射文件 属性注入：相当于传参&ndash;&gt;-->
        <!--<property name="mapperInterface" value="com.hand.mapper.UserMapper"></property>-->

        <!--&lt;!&ndash; 指定sql会话工厂&ndash;&gt;-->
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>-->
    <!--</bean>-->

    <!--<bean id="visitorBean" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
        <!--&lt;!&ndash;指定映射文件 属性注入：相当于传参&ndash;&gt;-->
        <!--<property name="mapperInterface" value="com.hand.mapper.VisitorMapper"></property>-->
        <!--&lt;!&ndash; 指定sql会话工厂&ndash;&gt;-->
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>-->
    <!--</bean>-->



    <!--&lt;!&ndash; 创建Mapper层的对象 &ndash;&gt;-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.hand.mapper" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>
    <bean id="user" class="com.hand.model.User" scope="prototype"></bean>

    <!--<context:component-scan base-package="com.hand.mapper" />-->

</beans>