<component name="ArtifactManager">
  <artifact type="exploded-war" name="MyBatis_first_application:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/MyBatis_first_application_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="MyBatis_first_application/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="MyBatis_first_application" />
        </element>
      </element>
    </root>
  </artifact>
</component>